
@font-face {
  font-family: 'Climacons-Font';
  src: url("../fonts/climacons-webfont.eot");
  src: url("../fonts/climacons-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/climacons-webfont.svg#Climacons-Font") format("svg"), url("../fonts/climacons-webfont.woff") format("woff"), url("../fonts/climacons-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

canvas {
  display: block;
  float: left;
  margin-left: 8px;
  margin-top: 8px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


.climacon:before {
  font-family: 'Climacons-Font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 56px;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 7px;
}
.climacon.cloud:before {
  content: "\e000";
}
.climacon.cloud.sun:before {
  content: "\e001";
}
.climacon.cloud.moon:before {
  content: "\e002";
}
.climacon.rain:before, .climacon.rain.cloud:before {
  content: "\e003";
}
.climacon.rain.sun:before, .climacon.rain.cloud.sun:before {
  content: "\e004";
}
.climacon.rain.moon:before, .climacon.rain.cloud.moon:before {
  content: "\e005";
}
.climacon.showers:before, .climacon.showers.cloud:before {
  content: "\e006";
}
.climacon.showers.sun:before, .climacon.showers.cloud.sun:before {
  content: "\e007";
}
.climacon.showers.moon:before, .climacon.showers.cloud.moon:before {
  content: "\e008";
}
.climacon.downpour:before, .climacon.downpour.cloud:before {
  content: "\e009";
}
.climacon.downpour.sun:before, .climacon.downpour.cloud.sun:before {
  content: "\e00a";
}
.climacon.downpour.moon:before, .climacon.downpour.cloud.moon:before {
  content: "\e00b";
}
.climacon.drizzle:before, .climacon.drizzle.cloud:before {
  content: "\e00c";
}
.climacon.drizzle.sun:before, .climacon.drizzle.cloud.sun:before {
  content: "\e00d";
}
.climacon.drizzle.moon:before, .climacon.drizzle.cloud.moon:before {
  content: "\e00e";
}
.climacon.sleet:before, .climacon.sleet.cloud:before {
  content: "\e00f";
}
.climacon.sleet.sun:before, .climacon.sleet.cloud.sun:before {
  content: "\e010";
}
.climacon.sleet.moon:before, .climacon.sleet.cloud.moon:before {
  content: "\e011";
}
.climacon.hail:before, .climacon.hail.cloud:before {
  content: "\e012";
}
.climacon.hail.sun:before, .climacon.hail.cloud.sun:before {
  content: "\e013";
}
.climacon.hail.moon:before, .climacon.hail.cloud.moon:before {
  content: "\e014";
}
.climacon.flurries:before, .climacon.flurries.cloud:before {
  content: "\e015";
}
.climacon.flurries.sun:before, .climacon.flurries.cloud.sun:before {
  content: "\e016";
}
.climacon.flurries.moon:before, .climacon.flurries.cloud.moon:before {
  content: "\e017";
}
.climacon.snow:before, .climacon.snow.cloud:before {
  content: "\e018";
}
.climacon.snow.sun:before, .climacon.snow.cloud.sun:before {
  content: "\e019";
}
.climacon.snow.moon:before, .climacon.snow.cloud.moon:before {
  content: "\e01a";
}
.climacon.fog:before, .climacon.fog.cloud:before {
  content: "\e01b";
}
.climacon.fog.sun:before, .climacon.fog.cloud.sun:before {
  content: "\e01c";
}
.climacon.fog.moon:before, .climacon.fog.cloud.moon:before {
  content: "\e01d";
}
.climacon.haze:before {
  content: "\e01e";
}
.climacon.haze.sun:before {
  content: "\e01f";
}
.climacon.haze.moon:before {
  content: "\e020";
}
.climacon.wind:before {
  content: "\e021";
}
.climacon.wind.cloud:before {
  content: "\e022";
}
.climacon.wind.sun:before, .climacon.wind.cloud.sun:before {
  content: "\e023";
}
.climacon.wind.moon:before, .climacon.wind.cloud.moon:before {
  content: "\e024";
}
.climacon.lightning:before, .climacon.lightning.cloud:before {
  content: "\e025";
}
.climacon.lightning.sun:before, .climacon.lightning.cloud.sun:before {
  content: "\e026";
}
.climacon.lightning.moon:before, .climacon.lightning.cloud.moon:before {
  content: "\e027";
}
.climacon.sun:before {
  content: "\e028";
}
.climacon.sun.set:before {
  content: "\e029";
}
.climacon.sunset:before {
  content: "\e029";
}
.climacon.sun.rise:before, .climacon.sunrise:before {
  content: "\e02a";
}
.climacon.sun.low:before, .climacon.sun-low:before, .climacon.low-sun:before {
  content: "\e02b";
}
.climacon.sun.lower:before, .climacon.sun-lower:before, .climacon.lower-sun:before {
  content: "\e02c";
}
.climacon.moon:before {
  content: "\e02d";
}
.climacon.moon.new:before {
  content: "\e02e";
}
.climacon.moon.waxing.crescent:before, .climacon.moon.first-crescent:before {
  content: "\e02f";
}
.climacon.moon.waxing.quarter:before, .climacon.moon.first-quarter:before, .climacon.moon.waxing.half:before, .climacon.moon.first-half:before {
  content: "\e030";
}
.climacon.moon.waxing.gibbous:before, .climacon.moon.first-gibbous:before, .climacon.moon.waxing.three-quarter:before, .climacon.moon.first-three-quarter:before {
  content: "\e031";
}
.climacon.moon.full:before {
  content: "\e032";
}
.climacon.moon.waning.gibbous:before, .climacon.moon.last-gibbous:before, .climacon.moon.waning.three-quarter:before, .climacon.moon.last-three-quarter:before {
  content: "\e033";
}
.climacon.moon.waning.quarter:before, .climacon.moon.last-quarter:before, .climacon.moon.waning.half:before, .climacon.moon.last-half:before {
  content: "\e034";
}
.climacon.moon.waning.crescent:before, .climacon.moon.last-crescent:before {
  content: "\e035";
}
.climacon.snowflake:before {
  content: "\e036";
}
.climacon.tornado:before {
  content: "\e037";
}
.climacon.thermometer.empty:before, .climacon.thermometer:before {
  content: "\e038";
}
.climacon.thermometer.low:before {
  content: "\e039";
}
.climacon.thermometer.medium-low:before {
  content: "\e03a";
}
.climacon.thermometer.medium-high:before {
  content: "\e03b";
}
.climacon.thermometer.high:before {
  content: "\e03c";
}
.climacon.thermometer.full:before {
  content: "\e03d";
}
.climacon.celcius:before {
  content: "\e03e";
}
.climacon.farenheit:before {
  content: "\e03f";
}
.climacon.compass:before {
  content: "\e040";
}
.climacon.compass.north:before {
  content: "\e041";
}
.climacon.compass.east:before {
  content: "\e042";
}
.climacon.compass.south:before {
  content: "\e043";
}
.climacon.compass.west:before {
  content: "\e044";
}
.climacon.umbrella:before {
  content: "\e045";
}
.climacon.sunglasses:before {
  content: "\e046";
}
.climacon.cloud.cycle:before, .climacon.cloud.refresh:before {
  content: "\e047";
}
.climacon.cloud.down:before, .climacon.cloud.download:before {
  content: "\e048";
}
.climacon.cloud.up:before, .climacon.cloud.upload:before {
  content: "\e049";
}

html, body {
  font-family: 'Patrick Hand SC', Arial;
  text-align: center;
  color: #7f868e;
  padding: 0;
  margin: 0;
  background-color:#f6fdff;
}
html.ride-bad, body.ride-bad {
  color: #0d457a;
}
html.ride-good, body.ride-good {
  color: #0d457a;
}
html.ride-maybe, body.ride-maybe {
  color: #0d457a;

}

.loading {
  font-size: 30px;
}

.logo {
  text-align:left;
  font-size: 20px;
  left: 20px;
  position: absolute;
  top: -110px;
  height: 28px;
  text-indent: 0px;
  color:#3d3d3d;
  line-height: 12px;
}


.description {
  position: relative;
  display: block;
  margin-top: 140px;
  font-size: 80px;
  text-shadow: -3px -3px #e1e3c2;
  z-index:50;
    /* Safari */
  -webkit-transform: rotate(-8deg);

  /* Firefox */
  -moz-transform: rotate(-8deg);

  /* IE */
  -ms-transform: rotate(-8deg);

  /* Opera */
  -o-transform: rotate(-8deg);
}

.thermometer {
  margin-right: 10px;
}

.weather {
  font-family: 'ClimaconsRegular';
  font-size: 24px;
  font-weight: 700;
  margin-right: 20px;
  display: inline-block;
}

.temperature {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: -6px;
}

.format {
  font-size: 24px;
  font-weight: 300;
  position: relative;
  top: -6px;
}

.location {
  bottom: -64px;
  /*position: fixed;*/
  width: 100%;
  transition: bottom 0.4s ease-out;
  -ms-transition: bottom 0.4s ease-out;
  -moz-transition: bottom 0.4s ease-out;
  -webkit-transition: bottom 0.4s ease-out;
}
.location.active {
  bottom: 0px;
  transition: bottom 0.4s ease-out;
  -ms-transition: bottom 0.4s ease-out;
  -moz-transition: bottom 0.4s ease-out;
  -webkit-transition: bottom 0.4s ease-out;
}
.location .inner {
  margin-top: 20px;
}
.location .inner i {
  background: url("../img/sprite.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 32px;
  width: 24px;
  margin: 10px auto;
  cursor: pointer;
}
.location .teleporter {
  position: absolute;
  right: 0px;
  top: -116px;
  display: none;
  z-index: 100;

  margin: 10px auto 0px;
  width: 410px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}
.location.active .teleporter {
    background-color: #e1e3c2;
    right: 0px;
    display: block;
}
.location .teleporter input {
  background-color: #fff;
  border: 0;
  font-family: 'Arial';
  font-size: 18px;
  color: #3d3d3d;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 15px;
  width: 358px;
  border: solid 1px #3d3d3d;
}
.location .teleporter input::-webkit-input-placeholder {
  color: #3d3d3d;
}
.location .teleporter input::-moz-placeholder {
  color: #3d3d3d;
}
.location .teleporter input::-ms-input-placeholder {
  color: #3d3d3d;
}
.location .teleporter ul {
  margin: 0;
  padding: 0;
}
.location .teleporter ul li {
  cursor: pointer;
  font-size: 14px;
  margin: 0px;
  list-style: none;
  border-bottom: 1px solid #3d3d3d;
  padding: 10px;
}

.ride-no .location .inner i {
  background: url("../img/sprite.png") repeat scroll -24px 0 rgba(0, 0, 0, 0);
}
.ride-no .location .teleporter {
  background-color: #7f868e;
}
.ride-no .location .teleporter input {
  color: #7f868e;
  background-color: #d0d3d6;
}
.ride-no .location .teleporter input::-webkit-input-placeholder {
  color: #7f868e;
}
.ride-no .location .teleporter input::-moz-placeholder {
  color: #7f868e;
}
.ride-no .location .teleporter input::-ms-input-placeholder {
  color: #7f868e;
}
.ride-no .location .teleporter ul li {
  border-bottom: 1px solid #9aa0a6;
}

.ride-yes .weather, .ride-yes .thermometer, .ride-yes .temperature, .ride-yes .format, .ride-yes .location {
  color: #fc8732;
}

.ride-no .weather, .ride-no .thermometer, .ride-no .temperature, .ride-no .format, .ride-no .location {
  color: #7f868e;
}

.temp {
  position: absolute;
  top: -120px;
  right: 130px;
}

.finder {
  width: 120px;
  position: absolute;
  top: -205px;
  right: 0px;
}
